html {
	--primary-colour-one: #2a2a28;
	--primary-colour-two: #21211e;
	--primary-colour-three: #191917;
	--colour-hover: #0e3313;
	--grid-colour-base: #2c2cf2;
	--grid-colour-hover: #36b036;
	--section-radius: 6px;
	text-align: center;
	background-color: var(--primary-colour-one);
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	font-size: 3rem;
}

.game-states-container {
	--contains: 4;
	display: grid;
	grid-template-columns: repeat(var(--contains), 1fr);
	grid-gap: 2rem;
  width: calc(var(--contains) * 100%);
	position: absolute;
	/* Transform (translateX) more performative with animation than left */
	transform: translateX(0%);
	transition: transform 225ms ease-in;
}

.state-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
}

img.form-control {
	background-color: var(--primary-colour-three);
	object-fit: contain;
	width: 3rem;
	padding: 10px;
	border-radius: var(--section-radius);
}
img.form-control:hover {
	background-color: var(--colour-hover);
}
